* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:active,
*:focus {
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
}

.content-max-width {
  padding: 0 3%;
}

@media (min-width: 1280px) {
  .content-max-width {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 1280px) {
  .for-mobile {
    display: none !important;
  }
}

@media (max-width: 1280px) {
  .for-desktop {
    display: none !important;
  }
}
