.component-bubble {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--color-grey-800);
  border-radius: 24px;
  background: var(--color-grey-850);
}
