@import "./css/colors.css";
@import "./css/theme.css";
@import "./css/spacing.css";
@import "./css/common.css";
@import "./css/typography.css";

html {
  background-color: var(--color-background);
  color: var(--color-white);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

* {
  box-sizing: border-box;
}

svg {
  fill: var(--color-white);
}

html {
  width: 100dvw;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
}

/* mobile */
@media (max-width: 700px) {
  html,
  body {
    transition: transform 300ms cubic-bezier(0.2, 0, 0, 1);

    .open {
      transform: translateX(280px);

      & > main {
        opacity: 0.3;
      }
    }
  }

  body {
    width: calc(100dvw + 280px);
    font-size: 0;
    left: -280px;
  }

  body > nav {
    height: 100dvh;
    width: 280px;
    display: inline-block;
    vertical-align: top;
  }

  body > main {
    transition: opacity 300ms cubic-bezier(0.2, 0, 0, 1);
    position: relative;
    height: 100dvh;
    width: 100dvw;
    display: inline-flex;
    vertical-align: top;
  }

  body > main > footer {
    position: absolute;
    bottom: var(--spacing-4);
    left: var(--spacing-4);
    right: var(--spacing-4);
  }
}

body > nav {
  background-color: var(--color-grey-850);
  border-right: 1px solid var(--color-grey-800);
}

body > main {
  background-color: var(--color-grey-1000);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 var(--spacing-4);
}

/* Desktop */
@media (min-width: 701px) {
  body {
    &.open {
      & > main {
        padding-left: 260px;
      }

      & > nav {
        transform: translateX(100%);
      }
    }

    & > nav {
      z-index: 10;
      position: fixed;
      right: 100%;
      top: 0;
      width: 260px;
      height: 100dvh;
      transition: transform 300ms cubic-bezier(0.2, 0, 0, 1);
    }

    & > main {
      transition: padding 300ms cubic-bezier(0.2, 0, 0, 1);
      position: fixed;
      display: flex;
      right: 0;
      top: 0;
      left: 0;
      height: 100dvh;
      min-width: calc(100dvw - 260px);

      & > footer {
        width: 100%;
        max-width: 768px;
      }
    }
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-2);

    & > div {
      display: flex;
      align-items: center;
    }

    h1 {
      font-size: 22px;
      font-weight: 500;
      margin: 0 0 0 var(--spacing-2);
      color: var(--color-blue-600);
    }
  }
}

body > nav .menu-button,
body > main .menu-button {
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-3);
}

body > main {
  & > nav {
    display: flex;
    align-items: center;
    position: absolute;
    top: var(--spacing-4);
    left: var(--spacing-4);

    & > .component-bubble {
      padding: 0 var(--spacing-2);
      display: flex;
      align-items: center;
    }
  }

  & > section {
    flex: 1;
  }
}

@media (max-width: 700px) {
  body > main .component-icon-brand {
    display: none !important;
  }

  .top-bar {
    display: none !important;
  }
}
